/* adwaita toast */
toastoverlay toast {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 9px;
  padding: 5px;
  margin: 7px;
  font-size: 16px;
}

tooltip {
  background-color: rgba(0, 100, 0, 0.9);
  color: white;
}

label {
  font-size: 16px;
  font-family: "Ubuntu Thin";
  padding: 3px;
}

/* frame is used for visual border of pane = stack = custom widget */
.frame {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0px;
  margin: 0px;
}

.frame-sidepane {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 3px;
  margin: 0px;
}

/* event text */
.label-event {
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* 1e90ff */
  color: dodgerblue;
}

/* selected event text */
.label-event-selected {
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* 00ff00 */
  color: lime;
}

/* sidepane dropdown */
.dropdown label {
  font-size: 16px;
  padding: 0px;
}

/* test label todo delete */
.label-tl {
  background-color: darkslateblue;
}

.label-tr {
  background-color: darkblue;
}

.label-bl {
  background-color: darkgreen;
}

.label-br {
  background-color: darkorange;
}

/* sidepane buttons with custom icon */
.button-pane {
  background-color: transparent;
  border-color: transparent;
  margin: 0px;
  padding: 0px;
}

/* chage time top panel */
.button-change-time {
  background-color: transparent;
  border-color: transparent;
  margin: 5px;
  padding: 0px;
}

/* toggle event for selected objects (settings / objects) */
.button-event {
  background-color: transparent;
  border-color: transparent;
}

.entry-warning {
  border: 3px solid darkorange;
}

/* stack = pane widgets */
notebook.no-border {
  border: none;
  padding: 0px;
  margin: 0px;
}

/* table / grid styling */
.table-grid label {
  font-family: "Victor Mono Light", "ui/fonts/victor", monospace;
  padding: 5px 13px;
  border-bottom: 1px solid alpha(white, 0.1);
}

/* header row styling */
.table-grid .table-grid-header {
  font-weight: bold;
  border-bottom: 2px solid white;
}

/* table / text styling */
.table-text {
  font-family: "Victor Mono Light", "ui/font/victor", monospace;
  font-size: 18px;
}
