/* adwaita toast */
toastoverlay toast {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 9px;
  padding: 5px;
  margin: 7px;
  font-size: 16px;
}

tooltip {
  background-color: rgba(0, 100, 0, 0.9);
  color: white;
}

label {
  font-size: 16px;
  font-family: "Ubuntu Thin";
  padding: 3px;
}

.frame {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0px;
  margin: 0px;
}

.frame-sidepane {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 3px;
  margin: 0px;
}

.label-event {
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* 1e90ff */
  color: dodgerblue;
}

.label-event-selected {
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* 00ff00 */
  color: lime;
}

.dropdown label {
  font-size: 14px;
  padding: 0px;
}

.label-tl {
  background-color: slateblue;
}

.label-tr {
  background-color: dodgerblue;
}

.label-bl {
  background-color: olivedrab;
}

.label-br {
  background-color: orange;
}

.button-pane {
  background-color: transparent;
  border-color: transparent;
  background-size: 70px;
  margin-top: 5px;
}

.button-event {
  background-color: transparent;
  border-color: transparent;
  background-size: 50px;
  /* margin-top: 5px; */
}

.entry-warning {
  border: 3px solid darkorange;
}
